#box {
color: blue;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 36px;
text-transform: uppercase;
}
select {
    color:rgb(255, 255, 255);
    background-color:rgb(255, 0, 0);
    text-align: center ;
}
p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    text-align: center;
}
body {
    background-color: antiquewhite;
}
.radio{
    font-size: 28px;
}